<link rel="stylesheet" href="/css/dashboard.css">
<h2>Employees</h2>

<a href="/employees/new">Add Employee</a>
<div class="card">

    <div class="card-header">
        Asset List
    </div>

    <div class="card-body">

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Designation</th>
    </tr>

    <% employees.forEach(employee => { %>

    <tr>
        <td><%= employee.employeeId %></td>
        <td><%= employee.name %></td>
        <td><%= employee.department %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.designation %></td>
    </tr>

    <% }) %>
</table>
</div>
</div>
