<h1><%= employee.name %></h1>

<p>ID : <%= employee.employeeId %></p>
<p>Department : <%= employee.department %></p>
<p>Email : <%= employee.email %></p>
<p>Phone : <%= employee.phone %></p>
<p>Designation : <%= employee.designation %></p>