<h1><%= department.departmentName %></h1>

<p>
Department Head :
<%= department.departmentHead %>
</p>

<p>
Location :
<%= department.location %>
</p>

<p>
Description :
<%= department.description %>
</p>

<a href="/departments">Back</a>

<a href="/departments/<%= department._id %>/edit">
Edit
</a>