<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asses management</title>
</head>
<body>
  <h1>Assest Management</h1>
  <a href = "/asset/new">Add new Assest</a>
  <table>
    <thead><tr>
      <th>Assest Tag</th>
      <th>Assest Name</th>
      <th>Category</th>
      <th>Status</th>
      <th>Location</th>
      <th>Action</th>
    </tr></thead>
    <tbody>

            <% if (assets && assets.length > 0) { %>

                <% assets.forEach(asset => { %>

                    <tr>

                        <td><%= asset.assetTag %></td>

                        <td><%= asset.assetName %></td>

                        <td><%= asset.category %></td>

                        <td><%= asset.status %></td>

                        <td><%= asset.location %></td>

                        <td>

                            <a href="/assets/<%= asset._id %>">View</a>

                            <a href="/assets/<%= asset._id %>/edit">Edit</a>

                        </td>

                    </tr>

                <% }) %>

            <% } else { %>

                <tr>
                    <td colspan="6">No Assets Found</td>
                </tr>

            <% } %>

        </tbody>

    </table>

</body>
</html>
  </table>
</body>
</html>